@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'),
         url('fonts/raleway-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/raleway-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

section {
    margin-bottom: 2em;
}

.full-page {
    height: auto;
    width: 100%;
    padding-bottom: 4em;
    box-shadow: 0 10px 6px -6px #777;
}

.small-page{
    height: 15%;
    width: 100%;
}

.fa {
    color: #1EAEDB; 
}

.page-header {
    border-bottom: 0.1rem #eee solid;
}

.page-header h4 {
    margin-left: 4em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.emphasis {
    color: #1EAEDB; 
    letter-spacing: 0.2rem;
}

.pad-top {
    padding-top: 2rem;
}

/* Home page */ 
#home {
    height: 100%;
    width: 100%;  
    box-shadow: 0 10px 6px -6px #777;
    background: url("../images/background_mobile.jpg");
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;  
    background-size: cover;
}

.home-header h1 {
    font-size: 5.5rem;
    letter-spacing: 0.2rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.home-header {
    margin-top: 8%;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.2rem;
    padding: 0.75rem;
    margin-left: 1rem;
    border-top: 0.1em solid white;
    border-bottom: 0.1em solid white;
}

/* Navbar */
.navbar-list li a:hover {
    color: #0FA0CE; 
}

.navbar {
    background-color: darkblue;
}
.navbar-list > li {
    display: inline;
}


/* About page */
#about {
    font-size: 1.75rem;
}


.profile-picture {
    border-radius: 10%;
}

/* Links */
#kaggle-logo{
    margin-top: 1rem;
    height: 7.5rem;
}


/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    #home {
        background: url("../images/background_alt.jpg");
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .navbar {
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        position: fixed;
        left: 87%;
        bottom: 15%;
        margin-left: 2em;
        border: 1px solid #eee;
        background: white;
        padding: 1rem;
        padding-right: 3rem;
        z-index: 999;
    }
    
    .navbar-list {
        list-style-type: none;
        padding: 0 0 0 0;
    }
    
    .navbar-list li a {
        text-transform: uppercase;
        display: block;
        width: 60px;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222; 
        padding: 0 0 0 0;
    }
}

@media(min-width: 900px) {
    .profile-picture {
        float: right;
        height: 45%;
        width: 45%;
        margin: 1.5rem;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    #home {
        background: url("../images/background_full.jpg");
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


